header{
    display: flex;
    height: 80px;
    background-color: #ffffff00;
    justify-content: center;
    align-items: center;
}

nav a{
    font-weight: bold;
    text-decoration: none;
    padding: 50px;
    color: #ffffff;
}
nav a:hover{
    text-decoration-line: underline;
}

body {
	margin: 0 auto;
	font-family: monospace, sans-serif;
	color: #ffffff;
	background-color: #1c2020;
	font-size: 1em;
	line-height: 1.5em;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

h1{
    font-size: 2.5em;
    text-align: center;
}

#main-header.nav{
    text-align: center;
}    

p{
    text-indent: 2%;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 20px 0;
    overflow: hidden;
}

.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.galeria img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
}

.galeria a:hover img{
    filter: blur(2px);
    transform: scale(1.3);
}

.light-box{
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box img{
    height: 70vh;
}

.light-box:target{
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 10vh;
    right:35vw;
    background: white;
    color: black;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 80%;
}

table{
    background-color: #ffffff;
    color: black;
}