body {
	margin: 0 auto;
	color: #000000;
	font-size: 1em;
	line-height: 1.5em;
}

h1{
    font-size: 2.5em;
    text-align: center;
    padding: 20px;
}

#main-header.nav{
    text-align: center;
}    

#main-content{
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

p{
    text-indent: 2%;
}

.social{
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    overflow: hidden;
}

.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.galeria img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
}

.galeria a:hover img{
    filter:blur(2px);
    transform: scale(1.3);
}

.light-box{
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box img{
    height: 70vh;
}

.light-box:target{
    backdrop-filter: blur(2px);
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 10vh;
    right:35vw;
    background: rgb(222, 75, 143);
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 80%;
}

table{
    background-color: #ffffff;
    color: black;
}

.field {
    align-items: center;
    margin-bottom: 10px;
}
  
.field label {
    display: block;
    font-size: 24px;
    color: #777;
}

.field input {
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
}

input[type="submit"] {
    padding: 6px 30px;
    font-size: 14px;
    background-color: #4460AA;
    color: #fff;
    border: none
}

#form{
    text-align: center;
    align-items: center;
}

.jueguito{
    text-align: center;
}

.juego{
    padding: 0;
    margin: auto;
    display: block;
}